*{
    margin: 0; 
    padding: 0;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.banner{
    background: rgb(31, 2, 22);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around ;
    align-items: center;
    padding: 10px 0;
}

.titulo{
    color: wheat;
    font-size: 3em;
    margin:auto ;
    text-align: start;
    padding: 5px;
    text-decoration: none;
}

.logomenu{
    height: 4em;
    width: 4em;
    border: groove 5px rgb(255, 255, 254);
    border-radius: 50%;
}


.listnav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
    background: orange;
    list-style: none;
    border-top: solid 4px wheat;
    border-radius: 5px;
    width:100%
}

.listnav__item--link {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.18em;
}

.contenidoprincipal{
    background: rgb(251, 249, 255);
    padding:3% 5% ;
}

.tsb{
    color:rgb(31, 2, 22);
    font-size: 2em;
    margin: 10px 5px 5px 1px;
    padding: 5px 3px;
}

.dates{
    height: fit-content;
}
.dates__text{
    width: 50%;
    display: inline-block;
    margin: 0;
}

.dates__text--p{
    font-size: 1.3em;
    width: 50%;
}

.date__textimg{
    display: inline-block;
    width: 49%;
}

.dates__text--img{
    width: 17em;
    height: 15em;
    border: solid 5px orange;
    border-radius: 10%;
}

.markettitle{
    color: rgb(31, 2, 22) ;
    font-size: 1.6em;
    margin: 30px 0px 10px 0px;
}

.tabgrid{
    display: grid;
    grid-template-columns: repeat(4,2fr);
}
.table{
    background-color:rgb(31, 2, 22) ;
    border: solid 1px orange;
    margin: 5px;
}

.tablerow{
    border: solid 1px wheat;
    color: wheat;
    list-style: none;
}

.tabledata1{
    border:solid 1px wheat;
    padding: 4px;
    background:rgb(31, 2, 22);
}
.tabledata2{
    border: solid 1px wheat;
    padding: 4px;
}

.tabledata3{
    border:solid 1px wheat ;
    padding: 4px;

}

.pie{
    background: rgb(31, 2, 22);
    height: 30%;
    border-top: solid 4px orange;
}

.titulopie{
    color: wheat;
    font-size: 1.18em;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.list__item{
    display: inline-block;

}
.list__item--link{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 3px;
    padding: 5px;
}

.formsec{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(2,1fr);
}

.formulario{
    margin: 25px 0 10px 0;
}

.formulario__name{
    margin: 2px;
    width: fit-content;
    height: 25px;
}

.formulario__surname{
    margin: 2px;
    width: fit-content;
    height: 25px;
}

.formulario__email{
    margin: 2px;
    width: fit-content;
    height: 25px;
}

.formulario__estado-civil{
    width: fit-content;
    height: 25px;
    margin-top: 2px;
}

.formulario__item{
    font-size: 1.2em;
    color: rgb(31, 2, 22);
}

.ubi{
    grid-area: 2/2/3/3 ;
    padding: 5%;
}

.ubi__title{
    font-size: 1em;
    margin: 10px 0 10px 0;
    color: rgb(31, 2, 22); ;
}

.ubi__map{
    border: solid 3px orange;
    border-radius: 5%;
}

.usandobitcoin__img{
    height: 20em;
    width: 25em;
    border-radius: 5%;
    margin: 10% 10%;
}